$bk : rgba(255,255,255, 0.1);


.header_content_bck{
    min-height: 60em !important;
}

.bck1{
	background-color: $bk;
	width: 100%;
	margin-right: 20px;
	display: inline-block;
	min-height: 300px; 
	padding-bottom: 50px;

	.topbox{
		width: 100%;
		padding: 10px 40px;

		select{
			width: 60px;
			height: 20px;
			margin-left: 10px;
			background-color: transparent;
			color: white;
			font-size: 0.5em;
			padding: 0px;
		}

		.small{
			font-size: 0.7em;
			color: rgba(255,255,255, 0.6);
		}
	}

	.topline{
		background-color: white;
		height: 2px;
		width: 100%;
	}
	
	.bottomline{
		background-color: rgba(17, 16, 16, 0.3);
		height: 2px;
		width: 70%;
		margin-left: 15%;
		margin-right: 10%;
	}
	.userbox{
		width: 100%;
		padding: 20px 40px;

		img{
			width: 100%;
			float: right;
		}
		
		.details{
			margin-top: 15px;
		}
		.small{
			font-size: 0.7em;
			color: rgba(255,255,255, 0.6);
		}
		
	}

	.tiny{
		font-size: 0.6em;
		color: rgba(255,255,255, 0.6);
	}
}

.line-box{
	position: relative;
	height: 100px;

	.line{
		height: 100px;
		width: 10px;
		background-color: white;
		border-radius: 10px;
		position: absolute;
	}

	button.success{
		background-color: #19980F;
		margin-left: 20px;
	}

	button.trans{
		border: 1px solid red;
		color: red;
		margin-left: 20px;
	}

	.tab-box{
		background-color: $bk;
		margin-left: 20px;
		margin-top: 30px;
		width: 90%;

		a{
			font-size: 0.8em;
		}

		a:first-child{
			border-bottom: 2px solid white;
		}
	}

}

.topselect{
	select{
		background-color: red;
		border: 0px solid transparent;
		color: white;
		margin-left: 10px;
	}
}

