doctype html

html

	head
		include includes/head
		block page_css

	body
		    
		div#preloader
			nav.nav-extended(style='position: fixed; top: 0px; left: 0px')
				.container
					.nav-wrapper

						a.brand-logo(href="#").left 
							img(src="./img/ominira_logo.png").responsive-img
			.loadercircle

		div#pagecontent
			
			header

				include includes/usernav
				include includes/dash_sidenav
				
				block header_content

			main#body_click 
				block content


			
			block footer

			script(type="text/javascript" src="js/index.js") 