extends ./user.pug

block page_css
	link(type="text/css" rel="stylesheet" href="./sass/dash.scss"  media="screen,projection")
	link(type="text/css" rel="stylesheet" href="./sass/dash-wallet.scss"  media="screen,projection")

block header_content
	.header_container_bck
		.container
			.header_content_bck
				.row
					.col-sm-12.text-center.my-3
						span.text-muted Wallet Overview
						br
						span.display-4
							| 08976.00
							select.w-10.h5.align-middle.m-2
								option usd

					.col-sm-12
						.row#dashrow
							.col-sm-6.col-md-4.col-lg-3
								.dashbox.mt-md-3.mt-3
									span BITCOIN
									img(src="/img/btc_orange.svg", alt="btc icon")
									.m-2
									span.balance balance
									.m-2
									span.price 0.089045
									.m-3

									select.form-control(name="btc")
										option(value="price") VIEW BITCOIN OPTIONS

							.col-sm-6.col-md-4.col-lg-3
								.dashbox.mt-md-3.mt-3
									span RIPPLE
									img(src="/img/xrp.svg", alt="xrp icon")
									.m-2
									span.balance balance
									.m-2
									span.price 0.089045
									.m-3

									select.form-control(name="ripple")
										option(value="price") VIEW RIPPLE OPTIONS

							.col-sm-6.col-md-4.col-lg-3
								.dashbox.mt-md-3.mt-3
									span DASH
									img(src="/img/dash.svg", alt="dash icon")
									.m-2
									span.balance balance
									.m-2
									span.price 0.089045
									.m-3

									select.form-control(name="dash")
										option(value="price") VIEW DASH OPTIONS

							.col-sm-6.col-md-4.col-lg-3
								.dashbox.mt-md-3.mt-3
									span TETHER
									img(src="/img/tether_icon.svg", alt="tether icon")
									.m-2
									span.balance balance
									.m-2
									span.price 0.089045
									.m-3

									select.form-control(name="tether")
										option(value="price") VIEW TETHER OPTIONS

							.col-sm-6.col-md-4.col-lg-3
								.dashbox.mt-md-3.mt-3
									span BITCOIN
									img(src="/img/dogecoin.svg", alt="Dodge icon")
									.m-2
									span.balance balance
									.m-2
									span.price 0.089045
									.m-3

									select.form-control(name="dogecoin")
										option(value="price") VIEW DOGE OPTIONS

							.col-sm-6.col-md-4.col-lg-3
								.dashbox.mt-md-3.mt-3
									span LITE COIN
									img(src="/img/ltc_white.svg", alt="ltc icon")
									.m-2
									span.balance balance
									.m-2
									span.price 0.089045
									.m-3

									select.form-control(name="ltc")
										option(value="price") VIEW LITECOIN OPTIONS

							.col-sm-6.col-md-4.col-lg-3
								.dashbox.mt-md-3.mt-3
									span BITCOIN CASH
									img(src="/img/btc_green.svg", alt="btc icon")
									.m-2
									span.balance balance
									.m-2
									span.price 0.089045
									.m-3

									select.form-control(name="btc-cash")
										option(value="price") VIEW BTC CASH OPTIONS
	
							.col-sm-6.col-md-4.col-lg-3
								.dashbox.mt-md-3.mt-3
									span ETHEREUM
									img(src="/img/ethereum.svg", alt="ethereum icon")
									.m-2
									span.balance balance
									.m-2
									span.price 0.089045
									.m-3

									select.form-control(name="ethereum")
										option(value="price") VIEW ETHEREUM OPTIONS

					.col-sm-12.text-center.mt-5
						span.btn.btn-secondary ADD COIN

					.col-sm-12.mt-5
						.row
							.col-md-6
								.dashbox2
									span RECENT ACTIVITIES

									.white-border
										span No activities yet

							.col-md-6
								.dashbox2
									span TRANSACTIONS
									.white-border
										span No transactions yet
						
									
block content
	
block footer
	include includes/footer