nav
	ul#dash_navslider.nav_slide_off

		li 
			a(href="./dashboard.pug").sliderLink Dashboard
		li 
			a(href="./profile.pug").sliderLink Profile

		li 
			a(href="./preview.pug").sliderLink Preview
		
		li 
			a(href="./wallet.pug").sliderLink Wallet ballance
		li 
			a(href="./market.pug").sliderLink Market hub

		li 
			a(href="./process.pug").sliderLink Process

		li 
			a(href="./buy-process.pug").sliderLink Process
		