footer
	.container.footer
		.row
			.col.s6.m3
				ul
					li
						strong PRODUCT
					li 
						a(href='#') Escrow
					li 
						a(href='./wallet.pug') wallet
					li 
						a(href='#') Airtime
					li 
						a(href='#') Token
					li 
						a(href='#') Whitepaper
					li 
						a(href='#') Techpaper
					li 
						a(href='#') Academy

			.col.s6.m3
				ul
					li
						strong COMPANY
					li 
						a(href='#about') About
					li 
						a(href='#') FAQ
					li 
						a(href='#') Partners
					li 
						a(href='#') Team
					li 
						a(href='#') Roadmap
					li
					li
						a(href='#').btn.waves-effect.red English

			.col.s6.m3
				ul
					li
						strong CONTACT
					li 
						a(href='#')
							i.fas.fa-email contact@ominiraprotocol.io
					li 
						a(href='#') Support
							

			.col.s12.m3
				.social_icons
					#social
						a(href='#') 
							span.fa.fa-facebook-square.fa-2x
						a(href='#') 
							span.fa.fa-twitter.fa-2x
						a(href='#') 
							span.fa.fa-linkedin.fa-2x
						a(href='#') 
							span.fa.fa-reddit-square.fa-2x