title.
	Trade and exchange all digital currency in a secure, stable and reliable platform. Ominira is here so serve you better

meta(charset="utf-8")

meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

meta(description="Official website of ominira escrow protocol")

link(rel="stylesheet" href="./sass/bootstrap/bootstrap.scss")


link(rel="stylesheet" href="./sass/bootstrap/font-awesome.min.css")

link(type="text/css" rel="stylesheet" href="./sass/main.scss" /*-href="css/custom/main.min.css"*/  media="screen,projection")

script(type="text/javascript").
	
	document.getElementById('pagecontent').style.display='none';
	document.getElementById('preloader').style.display='block';
	

