.container

	ul#navSlide.nav_slide_off
		li 
			a(href="/#about").sliderLink About
		li 
			a(href="/#how").sliderLink How it works
		li 
			a(href="./wallet.pug").sliderLink Wallet
		li 
			a(href="./market.pug").sliderLink Market
		li 
			a(href="#").sliderLink Help
		li 
			a(href="./login.pug").sliderLink.btn login