nav.navbar.navbar-expand-lg

	.container

		a.navbar-brand(href="/")
			img(src="./img/ominira_logo.png")

		#user-sidenav-trigger.float-right
			a.btn.btn-light.bg-light(href="/login.pug") LOGOUT
			i#userslider.fa.fa-bars.fa-2x.ml-3(aria-hidden="true")
		